<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="MyMath" />
        <binding name="Test" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/" binding="wsHttpBinding"
          bindingConfiguration="MyMath" contract="ServiceReference1.IMyMath"
          name="MyMath">
        <identity>
          <userPrincipalName value="DESKTOP-D4LSJMD\nazar" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/" binding="wsHttpBinding"
          bindingConfiguration="Test" contract="ServiceReference1.ITest"
          name="Test">
        <identity>
          <userPrincipalName value="DESKTOP-9L3DPQF\Vlad" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>