<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name = "server.DiskInfo">
        <endpoint
          address = "http://localhost/DiskInfo.ITask1"
          binding = "wsHttpBinding"
          contract = "server.ITask1"/> 
        <endpoint
          address = "http://localhost/DiskInfo.ITask2"
          binding = "wsHttpBinding"
          contract = "server.ITask2"/>
        <host>
          <timeouts closeTimeout="00:00:02"/>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>